body{

    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: gray;
}

ul{
    list-style-type: circle;
}

a{
    text-decoration: none;
    color:#008084;
}

a:hover{
    color: #008eda;
}

.container{
    width:90%;
    margin:auto;
}

.box-1{
    float:left;
    background:#A7A7A7;
    width:50%;
    height:211px;
    padding-left: 20px;
}

.box-2{
    border: 5px black dotted;
    background-color: gray;
    float: left;
    width:200px;
    height:201px;
}
