/* Credit to 
https://www.youtube.com/watch?v=yfoY53QXEnI&t=3172s
*/

.clr{
	/* this is to fix the mess created by thr float property.*/
	clear:both;
}

body{

    font-family: arial, helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    background-color: gray;
	padding:20px;
}

ul{
    list-style-type: circle;
}

a{
    text-decoration: none;
    color:#d30d0d;
}

a:hover{
    color: #59c3ff;
}

h4{
	font-style:italic;
	color:#d0d0d0;
}

pre{
	background-color:white;
	border:1px black solid;
	padding: 10px;
	border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}


.container{
    /* Here's a [block] comment! */
	width:50%;
    margin:auto;
}

.container-2{
    /* Here's a [block] comment! */
	width:80%;
    margin:auto;
}

.photobox{
    border: 5px black dotted;
    background-color: gray;
    float: left;
    width:200px;
    height:201px;
}

.graybox{
    float:right;
    background:#A7A7A7;
    width:50%;
    height:auto;
	padding:10px 10px;
	margin-top:10px;
	border-top:5px #59c3ff solid;
}

.aboutbox{
    float:left;
    background:#A7A7A7;
    width:40%;
    height:auto;
	padding:10px 10px;
	margin-top:10px;
	border-top:5px #59c3ff solid;
}
